.ipynb_checkpoints/
**/*.pyc
**/*.pdf
!**/figures/*.pdf
*.?sv
*.stats
**/*.aux
*.fdb*
*.log
**/*.synctex*
**/*.out
**/*.bbl
**/*.blg
**/*.svg
**/*.png
**/*.docx
**/*.fls
!**/figures/*.svg
/data
/output
/experiments/**/data
